

body{

    background-color: #F2F2F2;
}

.click-setting:hover .left-icon img{

    animation-name: anim1;
    animation-duration : 1s;

}
/* 에니메이션 효과 */

@keyframes anim1 {
    0% {
        transform : rotate(0deg);
      }
      25% {
        transform : rotate(30deg);
      }

      75% {

        transform: rotate(-30deg);

      }
      100% {
        transform : trotate(0deg);
      }
    
}