.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }


.setting-box{

    width: 50%;
    height: 40vh;
    text-align: center;
    background-color: #FFDB31;
    border : 1px solid rgb(233, 243, 40);
    border-radius : 20px;


}

.putTag{

  width: 60%;
  height: 60%;



}

.submit-btn{

  padding: 10px;
  margin-top: 3%;
  width: 50%;
  border: 0px;
  border-radius: 5px;


}