.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.setting-box {

  width: 50%;
  height: 40vh;
  text-align: center;
  background-color: #FFDB31;
  border: 1px solid rgb(233, 243, 40);
  border-radius: 20px;


}

.rq-bg {

  display: flex;
  width: 100%;
  height: 70%;
  justify-content: center;
  align-items: center;

}





.ad-badge {


  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  background-color: snow;
  border-radius: 50%;
  margin: 3px;


}

.ad-badge img {

  width: 30%;
  height: auto;
  margin: 10px;



}

.ad-badge img:hover {

  width: 45%;
  height: auto;
  transition: all 1s;
  margin: 10px;

}

.image-box {

  width: 70%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;


}

.in-badge {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  background-color: snow;
  border-radius: 50%;
  margin: 3px;


}

.in-badge img {

  width: 30%;
  height: auto;
  margin: 10px;

}

.in-badge img:hover {

  width: 45%;
  height: auto;
  margin: 10px;
  transition: all 1s;

}